{% extends "layout.html" %}

{% block title %}
    Item Declaration
{% endblock %}

{% block main %}
  <div class="col-md-12">
    <form action="/users/{{session.user_id}}/donations" method="post" id="donateForm">
      <div class="row">
        <div class="form-group">
          <label for="title">Item Name:</label>
          <textarea style="margin-left:100px;" class="form-control" name="title" id="title" rows="1" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="note">Description:</label>
          <textarea style="margin-left:100px;" class="form-control" name="note" id="note" rows="3" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="cbItemTypes">Select Item Type:</label>
          <select id="cbItemTypes" style="margin-left:60px;" required>
              <option value="select"></option>
          </select>
        </div>
      </div>

      <div class="row">
        <div id="receipientsContainer">

        </div>
      </div>
      <button class="btn btn-primary" type="submit" id="donate">Donate</button>
    </form>

  </div>
{% endblock %}