{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="col-md-12">
    <form action="/register" method="post" class="float-left">
    <div class="row">
        <div class="form-group">
            <label for="name">Name:</label><input autocomplete="off" style="margin-left:155px;" autofocus class="form-control" name="name" placeholder="Name" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="username">Username:</label><input autocomplete="off" style="margin-left:125px;" autofocus class="form-control" name="user_name" placeholder="Username" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="password">Password:</label><input class="form-control" style="margin-left:130px;" name="password" placeholder="Password" type="password" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="confirmation">Re-enter Password:</label><input class="form-control" style="margin-left:65px;" name="confirmation" placeholder="Re-enter Password" type="password" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="email_id">Email:</label><input autocomplete="off" autofocus class="form-control" style="margin-left:160px;" name="email" placeholder="Email" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="address_line1">Address Line 1:</label> <input autocomplete="off" autofocus class="form-control" style="margin-left:90px;" name="address_line1" placeholder="Address Line 1" type="text" required/>
        </div>

    </div>
    <div class="row">
        <div class="form-group" >
            <label for="address_line2">Address Line 2 :</label><input autocomplete="off" autofocus class="form-control" style="margin-left:90px;" name="address_line2" placeholder="Address Line 2" type="text"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="city">City :</label><input autocomplete="off" autofocus class="form-control" name="city" style="margin-left:170px;" placeholder="City" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="pincode">Pincode :</label><input autocomplete="off" autofocus class="form-control" name="pincode" style="margin-left:145px;" placeholder="Pincode" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="state">State:</label><input autocomplete="off" autofocus class="form-control" name="state" style="margin-left:170px;" placeholder="State" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group" >
            <label for="country">Country:</label><input autocomplete="off" autofocus class="form-control" name="country" style="margin-left:145px;" placeholder="Country" type="text" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input class="form-check-input" style="margin-left:10px;" type="radio" name="user_type" id="donate" value="donate">
            <label class="form-check-label" for="donate" style="margin-left:10px;">
                Donate
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input class="form-check-input" type="radio" style="margin-left:10px;" name="user_type" id="receive" value="receive">
            <label class="form-check-label" for="receive" style="margin-left:10px;">
                Receive Donations
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group" id="itemTypes">
            <ul id="itemTypesList" style="list-style-type: none;padding: 0;"></ul>
        </div>
    </div>
    <button class="btn btn-primary" id="register" type="submit">Register</button>
    </form>
</div>



{% endblock %}
